# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Database
*.db

# Model / binary files
*.pt
*.onnx

# IDE
.vscode/
.idea/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db